In [10]:
from datetime import datetime, time

import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [15]:
df = pd.read_csv('../../data/intermediary/normedGSRaudioSensorData.csv', index_col='Timestamp', parse_dates=True)

In [16]:
df.tail()

,D5S2P2,D5S1P2,D7P1,D10P1,D4S1P2,D3S2P2,D6S2P1,D9S2P1,D8P2,D9S1P1,...,D9S1P2,D9S2P2,D8P1,D4S1P1,D3S2P1,D6S2P2,D7P2,D10P2,D5S1P1,D5S2P1
Timestamp,,,,,,,,,,,,,,,,,,,,,
2019-02-27 00:11:21.400,0.111532,0.051790,0.623932,0.724330,0.964715,0.154164,0.0,0.0,0.0,0.0,...,0.0,0.584679,0.930905,0.024233,0.763853,1.0,0.322603,0.959476,0.028290,0.000871
2019-02-27 00:11:21.425,0.111111,0.052002,0.623819,0.724240,0.964117,0.154164,0.0,0.0,0.0,0.0,...,0.0,0.584679,0.930905,0.024105,0.763853,1.0,0.322603,0.960704,0.028277,0.000871
2019-02-27 00:11:21.450,0.111111,0.052215,0.623705,0.724151,0.963519,0.154164,0.0,0.0,0.0,0.0,...,0.0,0.584679,0.930905,0.023978,0.763853,1.0,0.322603,0.960704,0.028264,0.000871
2019-02-27 00:11:21.475,0.111111,0.052427,0.623592,0.724061,0.962921,0.154164,0.0,0.0,0.0,0.0,...,0.0,0.584679,0.930905,0.023850,0.763853,1.0,0.322603,0.960704,0.028251,0.000871
2019-02-27 00:11:21.500,0.111111,0.052639,0.623890,0.723972,0.962323,0.154164,0.0,0.0,0.0,0.0,...,0.0,0.584679,0.930905,0.023723,0.763853,1.0,0.322603,0.960704,0.028238,0.000871

## Parsing by Biome and Presentation Sequence

#### Import Sequence Data

In [52]:
sequence_df = pd.read_excel('../../data/raw/daily order_NNI.xlsx', header=2)
sequence_df = sequence_df.drop(columns=['Ocean.1', 'Forest.1', 'Mountain.1', 'Stream.1'])#.dropna().reset_index()
sequence_df

         Date  Day Session  Audio  Visual  Ocean  Forest  Mountain  Stream
0  2019-02-25    1     NaN    1.0     NaN    4.0     3.0       2.0     1.0
1  2019-02-26    2     NaN    NaN     1.0    NaN     NaN       NaN     NaN
2  2019-02-27    3      S1    2.0     1.0    1.0     2.0       3.0     4.0
3  2019-02-27    3      S2    1.0     2.0    2.0     3.0       1.0     4.0
4  2019-02-28    4      S1    2.0     1.0    3.0     2.0       4.0     1.0
5  2019-02-28    4      S2    1.0     2.0    2.0     1.0       4.0     3.0
6  2019-03-01    5      S1    2.0     1.0    2.0     3.0       4.0     1.0
7  2019-03-01    5      S2    1.0     2.0    2.0     4.0       1.0     3.0
8  2019-03-02    6      S1    2.0     1.0    1.0     3.0       4.0     2.0
9  2019-03-02    6      S2    1.0     2.0    1.0     3.0       2.0     4.0
10 2019-03-04    7     NaN    1.0     2.0    2.0     3.0       1.0     4.0
11 2019-03-05    8     NaN    2.0     1.0    4.0     1.0       2.0     3.0
12 2019-03-06    9      S1    1.0     2.0    1.0     3.0       2.0     4.0
13 2019-03-06    9      S2    2.0     1.0    4.0     3.0       1.0     2.0
14 2019-03-08   10     NaN    1.0     2.0    4.0     1.0       3.0     2.0

#### Make Frames for Presentation Order Exploration

In [51]:
audio_first_df = sequence_df[sequence_df['Audio'] == 1.0]
audio_first_df

         Date  Day Session  Audio  Visual  Ocean  Forest  Mountain  Stream
0  2019-02-25    1     NaN    1.0     NaN    4.0     3.0       2.0     1.0
3  2019-02-27    3      S2    1.0     2.0    2.0     3.0       1.0     4.0
5  2019-02-28    4      S2    1.0     2.0    2.0     1.0       4.0     3.0
7  2019-03-01    5      S2    1.0     2.0    2.0     4.0       1.0     3.0
9  2019-03-02    6      S2    1.0     2.0    1.0     3.0       2.0     4.0
10 2019-03-04    7     NaN    1.0     2.0    2.0     3.0       1.0     4.0
12 2019-03-06    9      S1    1.0     2.0    1.0     3.0       2.0     4.0
14 2019-03-08   10     NaN    1.0     2.0    4.0     1.0       3.0     2.0

In [48]:
audio_second_df = sequence_df[sequence_df['Audio'] == 2.0]
audio_second_df

,index,Date,Day,Session,Audio,Visual,Ocean,Forest,Mountain,Stream
0,2,2019-02-27,3,S1,2.0,1.0,1.0,2.0,3.0,4.0
2,4,2019-02-28,4,S1,2.0,1.0,3.0,2.0,4.0,1.0
4,6,2019-03-01,5,S1,2.0,1.0,2.0,3.0,4.0,1.0
6,8,2019-03-02,6,S1,2.0,1.0,1.0,3.0,4.0,2.0
9,13,2019-03-06,9,S2,2.0,1.0,4.0,3.0,1.0,2.0

#### Make Slicing Dictionary for Per-Biome Exploration

In [49]:
sequence_df

,index,Date,Day,Session,Audio,Visual,Ocean,Forest,Mountain,Stream
0,2,2019-02-27,3,S1,2.0,1.0,1.0,2.0,3.0,4.0
1,3,2019-02-27,3,S2,1.0,2.0,2.0,3.0,1.0,4.0
2,4,2019-02-28,4,S1,2.0,1.0,3.0,2.0,4.0,1.0
3,5,2019-02-28,4,S2,1.0,2.0,2.0,1.0,4.0,3.0
4,6,2019-03-01,5,S1,2.0,1.0,2.0,3.0,4.0,1.0
5,7,2019-03-01,5,S2,1.0,2.0,2.0,4.0,1.0,3.0
6,8,2019-03-02,6,S1,2.0,1.0,1.0,3.0,4.0,2.0
7,9,2019-03-02,6,S2,1.0,2.0,1.0,3.0,2.0,4.0
8,12,2019-03-06,9,S1,1.0,2.0,1.0,3.0,2.0,4.0
9,13,2019-03-06,9,S2,2.0,1.0,4.0,3.0,1.0,2.0